
<%= form_for(@proveedores) do |f| %>
  <% if @proveedores.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedores.errors.count, "error") %> impiden guardar esta area:</h2>

      <ul>
      <% @proveedores.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :contacto %><br />
    <%=  f.text_field :contacto %>
  </div>
<div class="field">
    <%= f.label :direccion %><br />
    <%=  f.text_field :direccion %>
  </div>
<div class="field">
    <%= f.label :telefono %><br />
    <%=  f.text_field :telefono %>
  </div>

  <div id="BOTON_CREAR_REQUI"class="actions">
    <%= f.submit %>
  </div>
<% end %>
